.forgotpassword-container {
  width: 100%;
  /* margin-top: -50px; */
}
.forgotpassword-container .div-one {
  margin-top: 30px;
  height: 170px;
}
.forgotpassword-container .div-one h2 {
  font-weight: 550;
  font-size: 32px;
  text-align: center;
  color: #4A4A4A;
}
.forgotpassword-container .div-one p {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: #4A4A4A;
  margin-top: -10px;
}
.confirm {
  width: 120%;
}
.btn-confirm {
  width: 100%;
  margin-top: 20px;
}
.icon {
  cursor: pointer;
  color: #B6B6B6;
  margin: 27px 20px -10px -40px;
}

.span-content {
  display: flex;
}
.page-1 {
  margin-top: 100px;
}
.page-1 .form-content {
  margin-top: -30px;
}

@media only screen and (min-width: 700px) {
  .form-content {
    display: flex;
    justify-content: center;
  }
  .confirm {
    width: 500px;
  }
  .div-one br {
    display: none;
  }
  .page-1 .form-content {
    margin-top: -80px;
  }
  .div-one {
    margin-bottom: -70px;
  }
  .div-one h2 {
    margin-top: 70px;
  }
}
