.pricing-container {
  padding: 50px 0 0 0;
  margin-top: 50px;
}
.pricing-container h2 {
  font-weight: 550;
  font-size: 32px;
  text-align: center;
  color: #060714;
  margin-bottom: 30px;
}
/* .pricing-card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  width: 145.37px;
  margin: 10px;
  border-radius: 3.01px;
  padding: 10px;
  cursor: pointer;
} */
.pricing-card div:first-child {
  display: flex;
  justify-content: center;
}
.pricing-card > div:last-child p:first-child {
  font-weight: 550px;
  color: rgba(74, 74, 74, 1);
  font-size: 14px;
  opacity: 0.8;
}
.pricing-location {
  font-weight: 520px;
  color: rgba(74, 74, 74, 1);
  font-size: 12px;
  margin-bottom: 4px;
}
.pricing-location span {
  text-align: center;
  font-weight: 550;
  font-size: 13px;
}
.pricing-last-div {
  display: flex;
}
.qty {
  color: rgba(74, 74, 74, 1);
  text-align: center;
  font-weight: 550;
  text-transform: uppercase;
  font-size: 13px;
  margin: 2px 0 0 0;
}
.pricing-input {
  border: 0.8px solid rgba(129, 215, 66, 1);
  border-radius: 2.4px;
  width: 26.45px;
  height: 19.23px;
  padding: 3px;
  outline: none;
  margin: 1px 5px 0 5px;
  font-family: century gothic;
}
.pricing-btn {
  background-color: rgba(129, 215, 66, 1);
  border: none;
  font-weight: 400;
  text-align: center;
  width: 59.39px;
  padding: 3px;
  height: 19.91px;
  font-size: 8.01px;
  color: #fff;
  border-radius: 11.81px;
  font-family: century gothic;
  cursor: pointer;
}
.pricing-btn:hover {
  opacity: 0.8;
}
.pricing-lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

@media only screen and (min-width: 600px) {
  .pricing-card {
    width: 300px;
    padding: 20px;
  }
  .pricing-image {
    width: 100%;
    height: 200px;
  }
  .pricing-card > div:last-child p:first-child {
    font-size: 32px;
  }
  .pricing-location,
  .pricing-location span {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .pricing-location span {
    font-weight: 500;
  }
  .pricing-btn {
    width: 110.61px;
    height: 40.7px;
    border-radius: 28.29px;
    font-size: 16.78px;
    font-weight: 400;
  }
  .pricing-input {
    border-radius: 5.76px;
    height: 36.48px;
    width: 60.35px;
    border-width: 1.92px;
  }
  .qty {
    font-size: 23.04px;
  }
}
