@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow::-webkit-scrollbar, .hide-scroll::-webkit-scrollbar {
display: none;
}

.hide-scroll thead td {
  width: 180px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgba(112, 112, 112, 1);
  font-size: 16px;
}
.hide-scroll tbody td {
  width: 180px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.first-td {
  border-radius: 36px 0 0 36px;
}
.last-td {
  border-radius: 0 36px 36px 0;
}
.btn-shadow {
  box-shadow: 0px 3px 3px 0px #00000040;
}
